@model SystemViewModels.CompanyManagement.DashboardViewModelList
<script src="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.21.13/amcharts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.21.13/funnel.js"></script>


<style>
    #chartdiv {
        
        height: 800px;
        border:1px solid rgba(191, 199, 219, 0.64) !important;
        background-color:rgba(205, 207, 211, 0.64)
    }
</style>


<div id="chartdiv"></div>
<script>
    var chart = AmCharts.makeChart("chartdiv", {
        "titles": [{
            "text": "Office Type Chart",
            "size": 16
        }],
  "type": "funnel",
  "theme": "light",
  "dataProvider": [ {
    "title": "Minsitry",
    "count": 200
  }, {
    "title": "Department",
    "count": 123
  }, {
    "title": "Office",
    "count": 98
  }, {
    "title": "Municipality",
    "count": 72
  }, {
    "title": "Metropolitancity",
    "count": 35
  }, {
    "title": "Rural Manicipality",
    "count": 35
  }, {
    "title": "Sub Metropolitancity",
    "count": 26
  } ],
  "balloon": {
    "fixedPosition": true
  },
  "valueField": "count",
  "titleField": "title",
  "marginRight": 240,
  "marginLeft": 50,
  "startX": -500,
  "depth3D": 100,
  "angle": 40,
  "outlineAlpha": 1,
  "outlineColor": "#FFFFF",
  "outlineThickness": 2,
  "labelPosition": "right",
  "balloonText": "[[title]]: [[value]]n[[description]]",
  "export": {
    "enabled": true
  }
} );

</script>


