@model SystemViewModels.DeviceManagement.DeviceCommunicationEntityViewModel



<div class="panel panel-default">
    <div class="panel-heading"><div class="panel-title">Device Result</div></div>
    <div class="panel-body">

    </div>
</div>
