<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>ई हाजिरी प्रणाली</title>

    <meta name="description" content="E-Attendance System Nepal" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <meta name="csrf-token">
    <meta property="og:title" content="Department of Information Technology, Thapagaun, Kathmandu">
    <meta property="og:url" content="https://doit.gov.np/en">
    <meta property="og:description" content="Goverment Attendance ,Department of Information Technology is one of the major agencies at the Ministry of Information Technology which is responsible for implementation of policy, act, rules and regulations related to the Technology
development, through which Government of Nepal plans to strengthened Nepalese Technologies.One of the major implementation ,Centralized E-Attendance System is one of them, where thousands of goverment bodies are involved for centralised attendance and their Information keeps secured. ">
    <meta property="og:image" content="https://doit.gov.np/img/gov-logo.png">
    <meta property="og:type" content="article">
    <meta property="og:site_name " content="Department of Information Technology, Thapagaun, Kathmandu">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="E-Attendance System Nepal">
    <meta name="twitter:title" content="Department of Industry, Tripureshwor, Kathmandu">
    <meta name="twitter:description" content="Goverment Attendance, Department of Information Technology is one of the major agencies at the Ministry of Information Technology which is responsible for implementation of policy, act, rules and regulations related to the Technology
development, through which Government of Nepal plans to strengthened Nepalese Technologies.One of the major implementation ,Centralized E-Attendance System is one of them, where thousands of goverment bodies are involved for centralised attendance and their Information keeps secured. ">
    <meta name="twitter:image" content="https://doit.gov.np/img/gov-logo.png">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="Goverment Attendance,Department of Industry, Government of Nepal, Industry Registration, foreign investment">
    <meta name="description" content="Department of Information Technology is one of the major agencies at the Ministry of Information Technology which is responsible for implementation of policy, act, rules and regulations related to the Technology
development, through which Government of Nepal plans to strengthened Nepalese Technologies.One of the major implementation ,Centralized E-Attendance System is one of them, where thousands of goverment bodies are involved for centralised attendance and their Information keeps secured. ">
    <meta name="subject" content="Department of Information Technology, Thapagaun, Kathmandu">
    <meta name="publisher" content="Department of Information Technology, Thapagaun, Kathmandu">


    <link rel="stylesheet" href="~/Content/login.css" />

</head>

<body class="login-layout light-login">
    @RenderBody()
</body>
</html>
