@model SystemViewModels.Shared.ReportHeaderViewModel

@if (Model.CompanyName == string.Empty && Model.ParentCompanyName == string.Empty)
{
    <div class="fontsize" style="padding-bottom:15px">
        <div style="text-align:center;">नेपाल सरकार</div>
        <div style="text-align: center;">@Model.ReportName</div>
    </div>
}

else
{
    <div>
        <div style="text-align:center;">नेपाल सरकार</div>
        <div style="text-align:center;">
            @Model.ParentCompanyName
        </div>
        <div style="text-align:center;">
            @Model.CompanyName<br>
        </div>
        <div style="text-align: center;">@Model.ReportName</div>
    </div>
}
