<div style="page-break-inside: avoid;">
    <p>
        <table width="100%">
            <thead>
                <tr>
                    <th style="float:left;font-size:20px;">...........................</th>
                    <th style="text-align:center;font-size:20px;">...........................</th>
                    <th style="float:right;font-size:20px;">..................................</th>
                </tr>
                <tr>
                    <th style="float:left;margin-left:10px; font-size:15px;">तयार  गर्ने </th>
                    <th style="text-align:center; font-size:15px;">पेश गर्ने </th>
                    <th style="float:right;margin-right:18px; font-size:15px;">प्रमाणित गर्ने </th>
                </tr>
            </thead>
        </table>
    </p>
</div>
