<style>
    @@media screen {
        .print {
            display: none;
        }

        .non-print {
            display: block;
        }
        /*th.popup, td.popup {
            width: 33% !important;
        }*/
    }

    @@media print {
        body {
            background: red !important;
        }

        .print {
            display: block;
        }

        .non-print {
            display: none;
        }
    }

    .alignleft {
        float: left;
        text-align: center;
        width: 33.33333%;
       
    }

    .aligncenter {
        float: left;
        text-align: center;
        width: 33.33333%;
    }

    .alignright {
        float: left;
        text-align: center;
        width: 33.33333%;
    }
</style>
<div style="page-break-inside: avoid;padding-top:10px">
    <h4 class="non-print" style="font-size:18px;">(नोट:-  उ= उपस्थित, बि.उ.=बिदामा उपस्थित, अनु= अनुपस्थित,  सा. बि.= साप्ताहिक बिदा, बि.(का.)=बिदामा काजमा खटाईएको,  काज=काजमा खटाईएको , हा/का=कार्यालयमा हाजिरी भइ काजमा गएको,आ.दि.उ.= आधा दिन बिदामा उपस्थित,क.बि = करार बिदा)</h4>
    <h4 class="print" style="font-size:26px;">(नोट:-  उ= उपस्थित, बि.उ.=बिदामा उपस्थित, अनु= अनुपस्थित,  सा. बि.= साप्ताहिक बिदा, बि.(का.)=बिदामा काजमा खटाईएको,  काज=काजमा खटाईएको , हा/का=कार्यालयमा हाजिरी भइ काजमा गएको,आ.दि.उ.= आधा दिन बिदामा उपस्थित,क.बि = करार बिदा)</h4>
    <br>
    <p>

        <div class="">
            <div class="non-print" style="padding-top:5px;font-size:18px">
                <div class="row">
                    <div class="text-center col-md-4 ">..................................</div>
                    <div class="text-center col-md-4">..................................</div>
                    <div class="text-center col-md-4">..................................</div>
                </div>

                <div class="row">
                    <div class="text-center col-md-4">तयार गर्ने </div>
                    <div class="text-center col-md-4">पेश गर्ने</div>
                    <div class="text-center col-md-4">प्रमाणित गर्ने</div>
                </div>

            </div>
            <div class="print" style="padding-top:75px;font-size:32px">
               
                


                <div >
                    <div class="alignleft">..................................</div>
                    <div class="aligncenter">..................................</div>
                    <div class="alignright">..................................</div>
                </div>

                <div >
                    <div class="alignleft" style="padding-left:10px">तयार गर्ने</div>
                    <div class="aligncenter" style="padding-left:10px">पेश गर्ने</div>
                    <div class="alignright" style="padding-left:10px">प्रमाणित गर्ने</div>
                </div>

            </div>



        </div>
    </p>
</div>