<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>त्रुटि</title>
</head>
<body>
    <hgroup>
        <h1>त्रुटि</h1>
        <h2>ई हाजिरी प्रणालीमा कुनै त्रुटि देखिएमा </h2>
        <h2>कृपया सूचना प्रविधि विभागमा तुरून्त सम्पर्क गर्नुहोला!!!</h2>
        <h2>अवरोधको लागि माफ गर्नुहोस्</h2>
        <h2>धन्यवाद</h2>
    </hgroup>
</body>
</html>
