@model SystemViewModels.CompanyManagement.HRCompanyDivisionViewModelList
@using SystemStores.GlobalMethod;
@using SystemStores.ENUMData;
@{
    var role = Model.SessionDetails.IdRoleType != 4 ? true : false;
}
<div class="breadcrumbs ace-save-state">
    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <a class="nav-search-input" href="~/@Model.BreadCrumbBaseURL/_PrintHRDivisionAsync?idHRCompany=@Model.IdHRCompany" data-ajax-model="">
                    <i class="ace-icon fa fa-print nav-search-icon">@SystemGlobalMethod.GetButtonText(EnumGlobal.SubmitButtonText.Print)</i>
                </a>
            </span>
            <span class="input-icon">
                <a class="nav-search-input" href="~/@Model.BreadCrumbBaseURL/_ExportHRDivisionAsync?idHRCompany=@Model.IdHRCompany">
                    <i class="ace-icon fa fa-file-excel-o nav-search-icon">@SystemGlobalMethod.GetButtonText(EnumGlobal.SubmitButtonText.Export)</i>
                </a>
            </span>
            @if (role)
            {
            <span class="input-icon">
                <a class="nav-search-input" href="~/@Model.BreadCrumbBaseURL/_CreateHRDivisionAsync?idHRCompany=@Model.IdHRCompany" data-ajax-model="">
                    <i class="ace-icon fa fa-plus  nav-search-icon">@SystemGlobalMethod.GetButtonText(EnumGlobal.SubmitButtonText.Create)</i>
                </a>
            </span>
            }
        </form>
    </div><!-- /.nav-search -->
</div>
@{ Html.RenderPartial("_ListHRDivisionAsync");}

<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
        $.ajaxSetup({ cache: false });
            $('#Create_HRDivision').click(function (e) {
            var url;
				url = '/@Model.BreadCrumbBaseURL' + '/_CreateHRDivisionAsync?idHRCompany=@Model.IdHRCompany';
            $('#myModalContent').load(url, function () {
                $('#myModal').modal({
                    keyboard: true
                }, 'show');
                bindAjaxForm(this);
            });
            return false;
        });
        });
    });
</script>

