@model SystemViewModels.EmployeeManagement.DashboardViewModelList

<div class="panel panel-default" style="border-radius:1em">
    <div class="panel-heading panel-heading-custom">
        <h3 class="panel-title" style="text-align:center!important">काज निवेदन</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table style="width: 100%;" aria-describedby="gbox_grid-table" role="grid" id="example" class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th class="text-center">कर्मचारीको नाम</th>
                        <th class="text-center">काज</th>
                        <th class="ace-icon">शुरुको मिति</th>
                        <th class="ace-icon">अन्तिम मिति</th>
                        <th class="ace-icon">कार्य</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
