:root {
    --color_Blue: #3f93f1;
    --color_Dark1: #1e1e1e;
    --color_Dark2: #252527;
    --color_Light1: #ffffff;
    --color_Light2: #c4c4c4;
    --color_yellow: #f3b52e;
    --color_header: #2f52a8;
    --color_gray: #6e6e6e;
    --color_gray_light: #c9c6c6;
    --color_red: rgb(255, 0, 0);
    --color_green: rgb(5, 171, 5);
    --appbar-width: 3.5rem;
    --sidebar-width: 14.875rem;
    --role-sidebar: 18.75rem;
    --mastermenu-width: 16rem;
    --sidebar-open-width: 14.875rem;
    --shorcut-width: 3rem;
    --header-height: 3.5rem;
    --help-container-width: 30rem;
    --heading-line-height: 1.2;
    --body-line-height: 1.4;
    --article-line-height: 1.58;
    --modal-overlay-size: 360px;
    --modal-overlay-size-lg: 680px;
    --overlay-width: 440px;
    --app-max-width: 85.375rem;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#p_sidebar {
    width: 60px;
    height: 100%;
    background-color: #143566;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    z-index: 100;
}

    #p_sidebar .menu-list {
        padding: 10px 15px 5px 20px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
        transition: 0.3s;
        cursor: pointer;
    }

.sidebar-icon {
    height: 20px;
    width: 20px;
}

#p_sidebar a:hover {
    color: #f1f1f1;
    cursor: pointer;
}

#main-content {
    margin-left: 250px;
    padding: 20px;
}

#secondary-sidebar {
    z-index: 10;
    width: 240px;
    height: 100%;
    background-color: #102043;
    position: fixed;
    left: 60px;
    top: 40px;
    overflow-x: hidden;
    padding-top: 20px;
}

    #secondary-sidebar a {
        text-decoration: none;
        font-size: 14px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
        padding-right: 10px;
    }

        #secondary-sidebar a:hover {
            color: #f1f1f1;
        }


/* ---------- Sidebar List ---------- */
.sidebar-list {
    height: 100%;
    padding: 0px 0 50px 0;
    overflow: auto;
    margin: 0px;
}

    .sidebar-list::-webkit-scrollbar {
        display: none;
    }

    .sidebar-list li {
        padding: 4px 0;
        transition: all .5s ease;
    }

        .sidebar-list li .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all .5s ease;
            cursor: pointer;
            padding: 4px 0;
        }

        .sidebar-link.active, .sidebar-list li.active .title {
            background-color: #f4b101;
            color: black !important;
        }

        .sidebar-list li.active .bxs-chevron-down {
            transition: all .5s ease;
            transform: rotate(180deg);
        }

        .sidebar-list li .title .link {
            display: flex;
            align-items: center;
            margin: 0 4px;
        }

        .sidebar-list li .title i {
            height: 50px;
            min-width: 78px;
            text-align: center;
            line-height: 50px;
            color: var(--color_Light1);
            font-size: 20px;
        }

        .sidebar-list li .title .name {
            font-size: 15px;
            font-weight: 400;
            color: var(--color_Light1);
        }

        /* ---------------- Submenu ------------- */
        .sidebar-list li .submenu {
            width: 0;
            height: 0;
            opacity: 0;
            transition: all .5s ease;
        }

        .sidebar-list li.dropdown.active .submenu {
            width: unset;
            height: unset;
            opacity: 1;
            display: flex;
            flex-direction: column;
        }

    .sidebar-list .active-menu-title {
        background-color: #6e2020;
        font-size: 18px;
        padding: 10px 15px;
        color: white
    }

.submenu .link {
    color: var(--color_Light2);
    font-size: 15px;
    padding: 5px 0;
    transition: all .5s ease;
}

    .submenu .link:hover {
        color: #fff;
    }

.submenu-title {
    display: none;
}

.text-white {
    color: #ffffff !important;
}

.dropdown.active .title .link span {
    color: black;
}

/* =============== Home Section =============== */
.home {
    position: relative;
    left: 300px;
    width: calc(100% - 300px);
    transition: all .5s ease;
    padding: 15px;
    padding-top: 80px;
    overflow-y: scroll;
    height: 100vh;
}

/* =============== Header Section =============== */
.header-sectionOLD {
    position: fixed;
    z-index: 999999;
    overflow-x: hidden;
    background-color: var(--color_header);
    width: 100%;
}

/* =============== Header Section =============== */
.header-section {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    overflow-x: hidden;
    background-color: var(--color_header);
    width: 100%;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    color: white;
    padding: 10px 15px;
}

    .top-header .header-img {
        height: 30px;
        padding-right: 15px;
    }

    .top-header .left-section {
        display: flex;
        align-items: center;
    }

        .top-header .left-section .inner-left-section {
            display: flex;
            align-items: center;
        }

    .top-header .right-section {
        display: flex;
        align-items: center;
    }

        .top-header .right-section .header-icon {
            padding: 10px;
        }

.vertical-line-left {
    border-left: 1px solid #717fa5; /* or your preferred color */
    height: 4vh;
    margin: 10px;
}

.vertical-line-right {
    border-left: 1px solid #ffffff; /* or your preferred color */
    height: 2vh;
    margin: 10px;
}

.top-header .right-section .name-lang {
    display: flex;
    align-items: center;
}

    .top-header .right-section .name-lang .name {
        font-weight: 600;
    }

.top-header .left-section .date-select-header {
    background-color: var(--color_header);
    font-size: 14px;
    padding: 5px;
    color: white;
}

.image-white {
    filter: brightness(0) invert(1) grayscale(1);
}

.icon-down-arrow {
    height: 18px;
    width: 18px;
    filter: brightness(0) invert(1) grayscale(1);
    margin: 8px;
}

.sidebar-active {
    width: 250px !important;
}

.main-sidebar .sidebar-menu .sidebar-menu-name {
    display: none !important;
}

.sidebar-active .sidebar-menu .sidebar-menu-name {
    display: inline !important;
    padding: .75rem 1rem;
    color: white;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
}

.sidebar-active .sidebar-menu:hover {
    color: #fff;
    background: #1a4789;
}


/* =============== Drop down Section =============== */

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.custom-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10000;
}

    .custom-dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.custom-dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}



/* =============== Dashboard Section =============== */

.p-home-content .dash-welcome .dash-date {
    font-size: 18px;
    font-weight: 500;
    color: var(--color_Dark1);
}

.p-home-content .dash-welcome .dash-welcome-status {
    display: flex;
    gap: 5px;
    padding: 15px 5px;
}

    .p-home-content .dash-welcome .dash-welcome-status .welcome {
        font-size: 18px;
        font-weight: 500;
    }

    .p-home-content .dash-welcome .dash-welcome-status .status {
        background-color: var(--color_red);
        padding: 0 10px;
        border-radius: 10px;
        color: #ffffff;
    }

    .p-home-content .dash-welcome .dash-welcome-status .statuspresent {
        background-color: var(--color_green);
        padding: 0 10px;
        border-radius: 10px;
        color: #ffffff;
    }

    .p-home-content .dash-welcome .dash-welcome-status .statusabsent {
        background-color: var(--color_red);
        padding: 0 10px;
        border-radius: 10px;
        color: #ffffff;
    }

.p-home-content .dash-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: white;
    box-shadow: #1e1e1e;
    border-left: 5px solid var(--color_yellow);
}

    .p-home-content .dash-card .p-top-section .leave-status-pending {
        font-size: 10px;
        background-color: var(--color_yellow);
        color: white;
        padding: 5px;
        border-radius: 10px;
        margin-left: 15px;
    }

.leave-status-completed {
    font-size: 10px;
    background-color: #6aa839;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin-left: 15px;
}

.p-home-content .dash-card .p-top-section {
    font-size: 18px;
    font-weight: 500;
}


.p-home-content .dash-card .p-buttom-section .date-part {
    background-color: var(--color_gray_light);
    border-radius: 10px;
    padding: 0 10px;
    margin-left: 5px;
}

.p-home-content .dash-multi-card {
    padding: 10px 0;
    margin-top: 20px;
}

    .p-home-content .dash-multi-card .header {
        font-size: 18px;
        font-weight: 500;
    }

    .p-home-content .dash-multi-card .multi-card-section {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-bottom: 20px;
    }

        .p-home-content .dash-multi-card .multi-card-section .p-card-section {
            background-color: white;
            box-shadow: 0 1px 4px #e1e1e1;
            margin: 0 8px;
            padding: 10px;
            height: 100px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between
        }

    .p-home-content .dash-multi-card .header {
        padding: 20px 0;
    }

    .p-home-content .dash-multi-card .multi-card-section .p-card-section .p-card-section-header {
    }

    .p-home-content .dash-multi-card .multi-card-section .p-card-section .p-card-section-footer {
        font-size: 25px;
        font-weight: bold
    }

.p-home-content .p-my-description {
    padding: 10px 0;
}

    .p-home-content .p-my-description .header {
        font-size: 15px;
        font-weight: 600;
    }

.p-card-section .p-card-section-header .header-bold {
    font-size: 15px;
    font-weight: 600;
}

.btn-p-blue {
    text-decoration: none !important;
    cursor: pointer;
    color: white !important;
    text-decoration: none !important;
    cursor: pointer;
    color: white !important;
    display: flex;
    justify-content: center;
    text-align: center;
}



.p-home-content .p-my-description .multi-card-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

    .p-home-content .p-my-description .multi-card-section .p-card-section {
        background-color: white;
        box-shadow: 0 1px 4px #e1e1e1;
        padding: 10px;
        height: 170px;
        border-radius: 5px;
    }

.p-home-content .p-my-description .header {
    padding: 20px 0;
}

.p-home-content .p-my-description .multi-card-section .p-card-section .p-card-section-footer {
    font-size: 18px;
}

.p-home-content .p-my-description .multi-card-section .p-card-section .p-card-section-header .month-select-header {
    background-color: white;
    font-size: 12px;
}

.p-home-content .p-my-description .multi-card-section .p-card-section .p-card-section-header {
    display: flex;
    justify-content: space-between;
}

.p-home-content .p-my-description .multi-card-section .p-card-section .p-card-section-footer.first {
    display: flex;
    justify-content: space-between;
}

.p-home-content .p-my-description .multi-card-section .p-card-section .p-card-section-footer .kaj-status {
    background-color: var(--color_green);
    color: white;
    padding: 4px;
    border-radius: 8px;
}

.p-home-content .p-my-description .multi-card-section .p-card-section .p-card-section-footer .p-date {
    padding: 0 10px;
}

    .p-home-content .p-my-description .multi-card-section .p-card-section .p-card-section-footer .p-date .p-date-p {
        border: 1px solid red;
        padding: 4px 9px;
        color: red;
        border-radius: 10px;
        box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2);
    }

.p-home-content .p-my-description .multi-card-section .p-card-section .p-card-section-footer .day-description {
    color: red;
    padding: 10px 0px;
}

.p-home-content .employee-table {
    background-color: white;
    padding: 15px;
    margin-top: 15px;
}

    .p-home-content .employee-table .employee-table-top {
        display: flex;
        justify-content: space-between;
    }

    .p-home-content .employee-table .p-tab-menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 0.5px solid #cdcdcd;
        cursor: pointer;
        white-space: nowrap;
        margin-right: 5px;
        overflow-x: scroll;
    }

        .p-home-content .employee-table .p-tab-menu .active-table {
            border-bottom: 2px solid rgb(1, 1, 158);
            color: rgb(1, 1, 173);
            font-size: 17px;
            font-weight: 600;
            padding: 0 0 7px 0px;
        }

        .p-home-content .employee-table .p-tab-menu .in-active-table {
            font-size: 17px;
            padding: 0 0 7px 0px;
            margin-right: 20px;
        }

    .p-home-content .employee-table .table-footer {
        display: flex;
        justify-content: end;
    }

.p-text-size-14 {
    font-size: 14px;
}

.p-text-size-12 {
    font-size: 12px !important;
}

.p-text-size-16 {
    font-size: 16px;
}

.p-text-size-20 {
    font-size: 20px;
}

.p-flex {
    display: flex;
}

.text-gray {
    color: gray;
}

.child-title {
    margin: 0 4px;
}

.dropdown.active .p-sub-title {
    background-color: #143566 !important;
}

.submenu .link {
    padding: 10px 0;
}

    .submenu .link:hover {
        background-color: #143566 !important;
    }

    .submenu .link.active {
        background-color: #f4b101;
        color: #0d2344 !important;
    }

.p-btn-logout {
    background-color: red;
    padding: 5px;
    border-radius: 50%;
}

    .p-btn-logout i {
        padding: 2px;
        color: white !important;
    }

.p-header {
    font-weight: 700;
    font-size: 1rem;
}

::-webkit-scrollbar {
    width: 8px;
    height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #70A9FF;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #b30000;
    }

.p-home-content .dash-multi-card .multi-card-section .p-card-section .p-card-section-header {
    font-weight: bold;
    font-size: large;
}

.p-canvas-map {
    background: white;
    font-weight: bold;
    font-size: large;
    padding: 20px 10px;
}

.heading-canvas {
    color: #292929;
    font-weight: 600;
    margin: 20px
}

.bg-kul {
    color: #f4b101;
}

.bg-remain {
    color: red;
}

/*//clear adding*/
.p-home-content {
    background-color: #F7F7FA !important;
}

.sidebar-link {
    padding: 0.5rem 1rem;
    font-size: .875rem;
    color: #d6e7ff;
    display: block;
    line-height: 1.5;
    cursor: pointer;
}

.notification-link {
    text-decoration: none !important
}

    .notification-link:hover {
        color: blue !important
    }

.companyName {
    font-size: 30px;
}

.nibedan-list {
    display: flex;
    flex-wrap: wrap;
    flex: 48%;
}

    .nibedan-list .bida-nibedan {
        margin-top: 10px;
    }

.btn-bida-abedan {
    text-decoration: none;
    background-color: #337ab7;
    color: white;
    padding: 6px;
}

#bida-nibedan .bida-nibedan-badge {
    margin: 30px;
    background-color: #d1a633;
    color: white;
    padding: 5px;
    border-radius: 4px;
}

.text-font-21 {
    font-size: 21px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: 600;
}

.page-content {
    background: url(backgroundimages/pattern.jpg) #DFE0E2;
    padding: 8px 50px 24px 50px;
}

#Homedashboard {
    background: none !important;
    padding: 8px 50px 24px 50px;
}

.fw-600 {
    font-weight: 600
}

.fs-15 {
    font-size: 15px;
}

#myChart {
    height: 410px !important;
}
/* =============== Responsive design =============== */
@media (max-width: 576px) {
    .page-content {
        margin-top: 25px !important;
    }

    .p-canvas-map #myChart {
        height: 150px !important;
    }
    .p-home-content .dash-multi-card .multi-card-section {
        grid-template-columns: repeat(1,1fr) !important;
    }
    .page-content #replacetarget .p-home-content .p-my-description .multi-card-section {
        grid-template-columns: repeat(1,1fr) !important;
    }
}

@media (max-width: 768px) {
    #secondary-sidebar {
        display: none;
    }

    #replacetarget .p-home-content .p-my-description .multi-card-section {
        grid-template-columns: repeat(2,1fr) !important;
    }

    .header-section .top-header .left-section .companyName {
        font-size: 15px;
    }

    .home {
        left: 80px !important;
        width: calc(100% - 80px) !important;
        overflow-x: hidden;
        margin-top: 15px;
    }

    .top-header {
        display: flex;
        flex-direction: column-reverse;
    }

        .top-header .right-section {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
        }

        .top-header .left-section {
            justify-content: flex-start;
            width: 100%;
            align-items: flex-start;
        }

            .top-header .left-section .companyName {
                font-size: 1rem;
            }

    .p-home-content .dash-multi-card .multi-card-section .p-card-section {
        flex: 48%;
    }

    .p-home-content .p-my-description .multi-card-section .p-card-section {
        flex: 48%;
    }

    .p-home-content .p-my-description .multi-card-section {
        flex-wrap: wrap;
    }

    .page-content {
        margin-top: 15px;
    }

    .p-canvas-map #myChart {
        height: 220px !important;
    }
}

@media (max-width: 992px) {
    #secondary-sidebar {
        width: 180px;
    }
        .top-header .right-section {
            margin-right: 45px;
        }
        #secondary-sidebar a, .sidebar-list li .title .name {
            font-size: 12px;
        }

    .sidebar-list li {
        padding: unset;
    }

    .home {
        width: calc(100% - 140px);
        left: 200px;
    }

    #myChart {
        height: 250px !important;
    }

    .p-home-content .dash-multi-card .multi-card-section {
        grid-template-columns: repeat(2, 1fr)
    }

        .p-home-content .dash-multi-card .multi-card-section .p-card-section {
            margin-top: 10px;
        }

    .p-home-content .p-my-description .multi-card-section {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .top-header .left-section .companyName {
        font-size: 20px;
    }

    .p-home-content .p-my-description .multi-card-section .p-card-section {
        height: 190px !important
    }
}

@media (max-width: 1050px) {


    #replacetarget .p-home-content .p-my-description .multi-card-section .p-card-section {
        height: 220px !important;
    }
}

@media (max-width: 1280px) {
    .left-section .companyName {
        font-size: 25px;
    }

    .p-home-content .p-my-description .multi-card-section {
        grid-template-columns: repeat(4,1fr);
    }

    #myChart {
        height: 350px !important;
    }

    .p-home-content .p-my-description .multi-card-section .p-card-section {
        height: 200px !important;
    }
}

@media (max-width: 1420px) {
    .companyName {
        font-size: 28px;
    }

    .bida-nibedan div {
        font-size: 14px;
    }

    .text-font-21 {
        font-size: 18px;
    }

    .p-home-content .dash-multi-card .multi-card-section .p-card-section .p-card-section-header {
        font-size: 15px;
    }

    .p-home-content .dash-multi-card .multi-card-section .p-card-section .p-card-section-footer {
        font-size: 20px;
    }

    .p-canvas-map .fs-4 {
        font-size: 15px;
    }

    .list-inline > li {
        font-size: 12px;
    }

    .p-home-content .p-my-description .header {
        font-size: 17px;
        padding-bottom: 10px;
    }

    .p-text-size-12 {
        font-size: 11px !important;
    }

    .p-card-section .p-card-section-header .header-bold {
        font-size: 14px;
    }

    .p-home-content .employee-table .p-tab-menu .in-active-table {
        font-size: 14px;
    }

    .btn-p-blue {
        font-size: 12px;
    }

    .p-home-content .p-my-description .multi-card-section .p-card-section {
        height: 150px;
    }
}

@media (max-width: 1450px) {
    .home {
        margin-top: 15px;
    }

    .p-card-section-footer.first div {
        width: 33%;
    }

    .p-home-content .p-my-description .multi-card-section .p-card-section {
        height: 190px;
    }
}

.home {
    margin-top: 15px;
}

#breadcrumbs {
    padding-left: 10px;
}


.abadhi_sifaris {
    display: grid;
    grid-template-columns: repeat(2,1fr)
}

#notification_number {
    position: absolute;
    top: -9px;
    right: -4px;
    background: #9d1903;
    padding: 2px 4px;
    border-radius: 10px;
}
.w-full{
    width: 100%;
}